<% provide(:title, "Home") %>

<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
<h1>Home Page</h1>


<p>This is the home page for 
<a href= "http://www.railstutorial.org"> rails tutorial </a>

sample application
</p>
</html>